<!-- <form action="/books" method="post"> -->
                            
    <input type="<%= type%>" name="title" value="<%= book.title%>">
    <input type="<%= type%>" name="author" value="<%= book.author%>">
    <input class="discrip" type="<%= type%>" name="descriptions" value="<%= book.descriptions%>">
    <input type="<%= type%>" name="image_url" value="<%= book.image_url%>">
    <input type="<%= type%>" name="isbn" value="<%= book.isbn%>">

    <!-- <button>Save Update</button> -->
<!-- </form> -->
