<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head', {page_title: 'show book'})%>

    <body>
        <%- include('../../layout/header')%>
            <main>
                <div>
                    <% searchResults.forEach( book=> { %>
                        <%- include('../books/detail',{book} )%>
                        <form action="/books" method="post">
                            
                            <%- include('../books/edit',{book: book, type: 'hidden'} )%>
                            <button>Save to list</button>
                        </form>
                            <% }) %>
                </div>

            </main>
            <%- include('../../layout/footer')%>
    </body>

</html>