<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head')%>
<body>
    <%- include('../../layout/header')%>
    <main>
        <div>
        <% searchResults.forEach( book => { %>
            <img src="<%= book.image %>" alt="">
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
            <p><%= book.description %></p>
        <% }) %>
    </div>
    </main>
    <%- include('../../layout/footer')%>
</body>
</html>

