<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <nav>
            <h1>Best Books!</h1>
        </nav>
    </header>
    <main>
        <div>
        <% results.forEach( book => { %>
            <img src="<%= book.image_url %>" alt="">
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
            <p><%= book.descriptions %></p>
        <% }) %>
        <p><%= count %></p>
    </div>
    </main>
    <footer>

    </footer>
</body>
</html>