<!DOCTYPE html>
<html lang="en">
    <!-- <%- include('../layout/head') %> -->
<body>
    <!-- <header>
        <nav>
            <h1>Best Books!</h1>
        </nav>
    </header> -->
    <main>
        <div>
        <% results.forEach( book => { %>
            <img src="<%= book.image_url %>" alt="">
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
            <p><%= book.descriptions %></p>
        <% }) %>
        <p><%= count %></p>
    </div>
    </main>

</body>
</html>