<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head', {page_title: 'Home '}) %>
<body>
<%- include('../layout/header') %>
    <main>
        <p>BOOKS SAVED  <%= count %></p>
        <div>
        <% results.forEach( book => { %>
            <img src="<%= book.image_url %>" alt="">
            <h3><%= book.title %></h3>
            <p><%= book.author %></p>
            <a href="/books/<%= book.id%>" class="showbt" >Show Details</a>
        <% }) %>
    </div>

    </main>
    <%- include('../layout/footer')%>
</body>
</html>